body {
color: #40514E;
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
}
h1 {
  font-size:562.5%;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height:2;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom:10px;


  }
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p {
  line-height: 2;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}
.my-desc {
  text-decoration-color:#40514E;
  width:30%;
  margin:auto;
}

.hr {
  /* border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    height: 0px;
    border-width: 5px;
    width: 5%; */
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
  .middle-container {
    margin:100px 0;

}
.bottom-container{
  background-color:#66BFBF;
  padding: 50px 0 20px;
  /* height:100px;
  position: relative; */
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.pro {
  text-decoration: underline;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom:300px;
}
.top-cloud {
  position: absolute;
  right:300px;
  top:40px;
}
.webdez {
  width: 25%;
  float: left;
  /* padding-right: 30px; */
  margin-right: 30px;
}
.skate {
  width: 25%;
  float:right;
  margin-left: 30px;
  }
  .contact-message {
    width: 40%;
    margin:40px auto 40px;
  }
  .contact-me{
    line-height: 2;
  }

  .btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5f5f5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5f5f5;
	box-shadow:inset 0px 1px 0px 0px #f5f5f5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #30e3cb), color-stop(1, #2bc4ad) );
	background:-moz-linear-gradient( center top, #30e3cb 5%, #2bc4ad 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#30e3cb', endColorstr='#2bc4ad');
	background-color:#30e3cb;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
	text-indent:0;
	border:1px solid #30e3cb;
	display:inline-block;
	color:#f5f5f5;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:120px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #f5f5f5;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2bc4ad), color-stop(1, #30e3cb) );
	background:-moz-linear-gradient( center top, #2bc4ad 5%, #30e3cb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2bc4ad', endColorstr='#30e3cb');
	background-color:#2bc4ad;
}.btn:active {
	position:relative;
	top:1px;
</style>
}


  a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    }
  a:hover{
    color:#EAF6F6;
  }
  .legal{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;

  }
